@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

.landing{
    height: 100vh;
    background-image: url('./Landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #dbdbdb;
}

.nav-items {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

.contact {
    height: 100vh;
    background-image: url('./question.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-form {
    width:500px;
    color: #ffffff;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-div > input{
    margin: 2%;
    padding: 8px;
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

.submit-btn {
    cursor: pointer;
    background-color: #5DBB63;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.submit-btn:hover {
    background-color: #028A0F;
}

.about {
    height: 100vh;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
  
  #backToTop:hover {
    background-color: #333;
  }

  .roadmap {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
  }
  
  .roadmap h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
  
  .roadmap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .roadmap-item {
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .roadmap-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    width: 20px;
    background-color: #007bff;
    border-radius: 10px;
  }
  
  .roadmap-item img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .roadmap-content {
    text-align: left;
  }
  
  .roadmap-content h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .roadmap-content p {
    font-size: 1.2em;
    margin: 0;
  }
  
  .features {
    background-color: #f2f2f2;
  }

  .about {
    background-color: #f3f4f6;
    text-align: center;
  }
  
  .about-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .about-content p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  
  .social-links img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  